extends ../layouts/layout-default
include ../../blocks/icon/icon
include ../../blocks/pizza-list/pizza-list
include ../../blocks/progress-bar/progress-bar

block head
  - var pageTitle = 'Pizza counter';

block content
  .l-container
    .l-row
      .l-product-list
        +pizza-list()
      .l-orders
        .l-orders__order
          .l-orders__order-number №3208957205790
          .l-orders__order-status
            +progress-bar(40)
        .l-orders__order
          .l-orders__order-number №3208957205790
          .l-orders__order-status
            +progress-bar(100)
